html, body {
    font-family: 'Open Sans', sans-serif;
}

.tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
    background: #fff;
}

.tab-content table {
    margin-bottom: 0;
}