---
services:
  web:
    build: .
    command: ./wait-for-it.sh localhost:5432 --strict --timeout=0 -- ./wait-for-it.sh localhost:6379 --strict --timeout=0 -- bash -c "PORT=8000 bash dokku-boot.sh"
    volumes:
    - .:/app
    environment:
    - DATABASE_URL=postgres://postgres:example@localhost:5432/wharf
    - BROKER_URL=redis://localhost:6379/0
    - CACHE_URL=redis://localhost:6379/1
    - DOKKU_SSH_HOST=${DOKKU_SSH_HOST:-127.0.0.1}
    - DOKKU_SSH_PORT=${DOKKU_SSH_PORT:-22}
    - GITHUB_SECRET=${GITHUB_SECRET:-password}
    - ADMIN_PASSWORD=${ADMIN_PASSWORD:-password}
    depends_on:
    - postgres
    - redis
    network_mode: host

  celery:
    build: .
    command: ./wait-for-it.sh localhost:5432 --strict --timeout=0 -- ./wait-for-it.sh localhost:6379 --strict --timeout=0 -- bash -c "python manage.py celery"
    volumes:
    - .:/app
    environment:
    - DATABASE_URL=postgres://postgres:example@localhost:5432/wharf
    - BROKER_URL=redis://localhost:6379/0
    - CACHE_URL=redis://localhost:6379/1
    - DOKKU_SSH_HOST=${DOKKU_SSH_HOST:-127.0.0.1}
    - DOKKU_SSH_PORT=${DOKKU_SSH_PORT:-22}
    depends_on:
    - postgres
    - redis
    network_mode: host

  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: wharf
      POSTGRES_PASSWORD: example
    network_mode: host

  redis:
    image: redis:4-alpine
    network_mode: host
