django
django-jinja-bootstrap-form
dj-database-url
requests
jinja2
psycopg2-binary
celery[redis] >= 5
django-redis
django-celery-results
paramiko
gitpython
humanize
timeout-decorator
selenium
packaging

django-jinja

pytest
pytest-django
pytest-watcher