django
django-jinja-bootstrap-form
dj-database-url
requests
jinja2
psycopg2-binary
celery
celery[redis]
django-redis
django-celery-results
paramiko
gitpython
humanize
timeout-decorator
selenium

redis < 3 # Version 3 does various things we're not compatible with yet, so don't automatically upgrade
-e git+https://github.com/niwinz/django-jinja.git@819a5faddea5341d990ac337b05e7827ac5b4431#egg=django-jinja # Need a fix for https://github.com/niwinz/django-jinja/issues/236