django ~= 3.1.13
django-jinja-bootstrap-form
dj-database-url
requests
jinja2
psycopg2-binary
celery
celery[redis]
django-redis
django-celery-results
paramiko
gitpython
humanize
timeout-decorator
selenium

redis < 3 # Version 3 does various things we're not compatible with yet, so don't automatically upgrade
django-jinja