{% block appdetails %}
    <link href="{{ static('components/apps/details/app-details.css') }}" rel="stylesheet">
    <body class="bg-light">

    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="#">Wharf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#main-nav-bar-apps-list" aria-controls="main-nav-bar-apps-list"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav-bar-apps-list">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <a href="{{ url('index') }}"><span>&#8592;</span>Return to apps list</a>
                    <h2 class="h2">Wharf: {{ app }}</h2>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Actions</h3>
                        <div class="card">
                        <div class="card-header">
                            Status
                        </div>
                        <div class="card-body card-with-scroll">
                            {% if git_url == None %}
                                <h5 class="card-title">Can't deploy due to missing GITHUB_URL in config (which should be set to the "Clone with HTTPS" url from Github)</h5>
                            {% else %}
                                <h5 class="card-title">The current deploy URL is:</h5>
                                <p class="card-text"><a href="{{ git_url }}" rel="nofollow noopener noreferrer" target="_blank">{{ git_url }}</a></p>
                                <form class="form-inline" action="{{ url('deploy', app_name=app) }}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="url" value="{{ git_url }}" />
                                    <button type="submit" class="btn btn-outline-primary btn-deploy-app"  name="action" value="deploy">Deploy app</button>
                                    <button type="submit" class="btn btn-outline-warning btn-rebuild-app" name="action" value="rebuild">Rebuild app</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Task logs</h3>
                        <div class="card">
                            <div class="card-header">
                                Status
                            </div>
                            <div class="card-body card-with-scroll">
                                {% if task_logs %}
                                    <ul>
                                        {% for tl in task_logs %}
                                            <li><a href="{{ url('show_log', task_id=tl.task_id) }}">{{ tl.nice_when() }} - {{ tl.description }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <h5 class="card-title">No tasks to run yet</h5>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Process Info</h3>
                        <div class="card">
                            <div class="card-header">
                                Status
                            </div>
                            <div class="card-body card-with-scroll">
                                <ul>
                                    {% for (k,v) in process.items() if k!= 'processes' %}
                                        <li>{{k}}: {{v}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3>Processes</h3>
                        <div class="card">
                            <div class="card-header">
                                Status
                            </div>
                            <div class="card-body card-with-scroll">
                                <ul>
                                    {% for (k,v) in process['processes'].items() %}
                                        <li>{{k}}: {{v}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>

                <h3>Log output</h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logs-output">
                            {{ logs }}
                        </div>
                    </div>
                </div>
                <br><br>

                <h3>Buildpacks</h3>
                <ul id="app-buildpacks-config" class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#app-buildpacks-list" data-toggle="tab" class="nav-link small text-uppercase active show">Buildpacks</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#app-buildpacks-add" data-toggle="tab" class="nav-link small text-uppercase">Add new Buildpack</a>
                    </li>
                </ul>
                <div id="tabAppBuildpacksContent" class="tab-content">
                    <div id="app-buildpacks-list" class="tab-pane fade active show">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Buildpack</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if buildpacks %}
                                    {% for item in buildpacks %}
                                        <tr>
                                            <td>
                                                {% if "https" or "http" in item %}
                                                    <a href="{{ item }}" rel="nofollow noopener noreferrer" target="_blank">{{ item }}</a>
                                                {% else %}
                                                    <span class="buildpack-name-item">{{ item }}</span>
                                                {% endif %}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">No buildpacks in this app</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="app-buildpacks-add" class="tab-pane fade">
                        <form action="{{ url('add_buildpack', app_name=app) }}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="buildpack-url">Buildpack URL:</label>
                                <input type="url" class="form-control" id="buildpack-url" name="buildpack_url" required="required">
                            </div>
                            <fieldset class="form-group">
                                <legend class="col-form-legend small-legend">Options:</legend>
                                <div class="form-check col-sm-10">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="buildpack_type" id="buildpack-type-add" value="add" checked="checked">
                                        Add this buildpack to the list
                                    </label>
                                </div>
                                <div class="form-check col-sm-10">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="buildpack_type" id="buildpack-type-set" value="set">
                                        Set this buildpack
                                    </label>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <label for="buildpack-index">Index number:</label>
                                <input class="form-control" type="number" id="buildpack-index" name="buildpack_index" step="1" min="1" required="required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Add buildpack</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br><br>

                <h3>App links</h3>
                <ul id="app-links-config" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#app-links-postgres-list" data-toggle="tab" class="nav-link small text-uppercase active show">Postgres</a></li>
                    <li class="nav-item"><a href="" data-target="#app-links-redis-list" data-toggle="tab" class="nav-link small text-uppercase">Redis</a></li>
                    <li class="nav-item"><a href="" data-target="#app-links-mariadb-list" data-toggle="tab" class="nav-link small text-uppercase">MariaDB</a></li>
                </ul>
                <div id="tabAppLinksContent" class="tab-content">
                    <div id="app-links-postgres-list" class="tab-pane fade active show">
                        {% if postgres %}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Version</th>
                                            <th scope="col">Exposed ports</th>
                                            <th scope="col">Links</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in postgres %}
                                            <tr>
                                                <td>{{ item['NAME'] }}</td>
                                                <td>{{ item['STATUS'] }}</td>
                                                <td>{{ item['VERSION'] }}</td>
                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                <td>{{ item['LINKS'] }}</td>
                                                <td>
                                                    <form class="d-inline" action="{{ url('remove_postgres', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                        <button type="submit" class="btn btn-outline-danger">Delete '{{ item['NAME'] }}' link</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else: %}
                            <form class="form-inline" action="{{ url('create_postgres', app_name=app) }}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Create Postgres</button>
                            </form>
                        {% endif %}
                    </div>
                    <div id="app-links-redis-list" class="tab-pane fade">
                        {% if redis %}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Version</th>
                                            <th scope="col">Exposed ports</th>
                                            <th scope="col">Links</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in redis %}
                                            <tr>
                                                <td>{{ item['NAME'] }}</td>
                                                <td>{{ item['STATUS'] }}</td>
                                                <td>{{ item['VERSION'] }}</td>
                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                <td>{{ item['LINKS'] }}</td>
                                                <td>
                                                    <form class="d-inline" action="{{ url('remove_redis', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                        <button type="submit" class="btn btn-outline-danger">Delete '{{ item['NAME'] }}' link</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <form class="form-inline" action="{{ url('create_redis', app_name=app) }}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Create Redis</button>
                            </form>
                        {% endif %}
                    </div>
                    <div id="app-links-mariadb-list" class="tab-pane fade">
                        {% if mariadb %}
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Version</th>
                                            <th scope="col">Exposed ports</th>
                                            <th scope="col">Links</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in mariadb %}
                                            <tr>
                                                <td>{{ item['NAME'] }}</td>
                                                <td>{{ item['STATUS'] }}</td>
                                                <td>{{ item['VERSION'] }}</td>
                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                <td>{{ item['LINKS'] }}</td>
                                                <td>
                                                    <form class="d-inline" action="{{ url('remove_mariadb', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                        <button type="submit" class="btn btn-outline-danger">Delete '{{ item['NAME'] }}' link</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <form class="form-inline" action="{{ url('create_mariadb', app_name=app) }}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Create MariaDB</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <br><br>

                <h3>Domains and SSL</h3>
                <ul id="app-domains" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#app-domains-list" data-toggle="tab" class="nav-link small text-uppercase active show">Domains for this app</a></li>
                    <li class="nav-item"><a href="" data-target="#app-domain-add" data-toggle="tab" class="nav-link small text-uppercase">Add new domain</a></li>
                    <li class="nav-item"><a href="" data-target="#app-domain-ssl-status" data-toggle="tab" class="nav-link small text-uppercase">Let's Encrypt status</a></li>
                </ul>
                <div id="tabAppDomainsContent" class="tab-content">
                    <div id="app-domains-list" class="tab-pane fade active show">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for domain in domains %}
                                    <tr>
                                        <td><a href="{{ 'https' if letsencrypt else 'http' }}://{{ domain }}" rel="nofollow noopener noreferrer" target="_blank">{{ domain }}</a></td>
                                        <td>
                                            <form class="d-inline" action="{{ url('remove_domain', app_name=app) }}" method="POST">
                                                {% csrf_token %}
                                                <input type="hidden" name="name" value="{{domain}}" />
                                                <button type="submit" class="btn btn-outline-danger">Delete '{{domain}}' domain</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="2">No domains to list</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="app-domain-add" class="tab-pane fade">
                        <h4>Add a new domain for this app</h4>
                        <form action="{{ url('add_domain', app_name=app) }}" method="POST">
                            {% csrf_token %}
                            {{ domain_form | bootstrap }}
                            <input class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Submit" />
                        </form>
                    </div>
                    <div id="app-domain-ssl-status" class="tab-pane fade">
                        {% if letsencrypt %}
                            <h4>Status</h4>
                            <ul>
                                {% for (k,v) in letsencrypt.items() if k != 'App name' %}
                                    <li>{{k}}: {{v}}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <form class="form-inline" action="{{ url('setup_letsencrypt', app_name=app) }}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Setup Let's Encrypt</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <br><br>

                <h3>App environment config</h3>
                <ul id="app-env-config" class="nav nav-tabs">
                    <li class="nav-item"><a href="" data-target="#app-config-list" data-toggle="tab" class="nav-link small text-uppercase active show">Configuration list for this app</a></li>
                    <li class="nav-item"><a href="" data-target="#app-config-add" data-toggle="tab" class="nav-link small text-uppercase">Add new item</a></li>
                </ul>
                <div id="tabAppDomainsContent" class="tab-content">
                    <div id="app-config-list" class="tab-pane fade active show">
                        <div class="list-group">
                            {% for (k,v) in config %}
                                <span class="text-muted list-group-item d-inline-block"><span>{{ k }}</span> = {{ v }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="app-config-add" class="tab-pane fade">
                        <h4>Add a new config for this app</h4>
                        <form action="{{ url('app_info', app_name=app) }}" method="POST">
                            {% csrf_token %}
                            {{ config_bulk_form }}
                            <input class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
                <br><br>
            </main>
        </div>
    </div>
    </body>
{% endblock %}