{% extends "base.html" %}
{% block body %}
    <div class="wrapper ">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header card-header-tabs card-header-primary">
                                    <div class="nav-tabs-navigation">
                                        <div class="nav-tabs-wrapper">
                                            <h4 class="nav-tabs-title">Application Links: </h4>
                                            <ul class="nav nav-tabs" data-tabs="tabs">
                                                <li class="nav-item">
                                                    <a class="nav-link tech-icon active" href="#postgres" data-toggle="tab">
                                                        <i class="icon-postgres"></i> Postgres
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link tech-icon" href="#mariadb" data-toggle="tab">
                                                        <i class="icon-mariadb"></i> MariaDB
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link tech-icon" href="#redis" data-toggle="tab">
                                                        <i class="icon-redis"></i> Redis
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link tech-icon" href="#buildpacks" data-toggle="tab">
                                                        <i class="icon-heroku"></i> Buildpacks
                                                        <div class="ripple-container"></div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="postgres">
                                            {% if app_links.postgres %}
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Version</th>
                                                            <th scope="col">Exposed ports</th>
                                                            <th scope="col">Links</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for item in app_links.postgres %}
                                                            <tr>
                                                                <td>{{ item['NAME'] }}</td>
                                                                <td>{{ item['STATUS'] }}</td>
                                                                <td>{{ item['VERSION'] }}</td>
                                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                                <td>{{ item['LINKS'] }}</td>
                                                                <td>
                                                                    <form class="d-inline" action="{{ url('remove_postgres', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                                        <button type="button" rel="tooltip" title="Remove this link" class="btn btn-danger btn-link btn-sm" onclick="this.submit()">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else: %}
                                                <form class="form-inline" action="{{ url('create_postgres', app_name=app) }}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary">Create Postgres link</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane" id="mariadb">
                                            {% if app_links.mariadb %}
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Version</th>
                                                            <th scope="col">Exposed ports</th>
                                                            <th scope="col">Links</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for item in app_links.mariadb %}
                                                            <tr>
                                                                <td>{{ item['NAME'] }}</td>
                                                                <td>{{ item['STATUS'] }}</td>
                                                                <td>{{ item['VERSION'] }}</td>
                                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                                <td>{{ item['LINKS'] }}</td>
                                                                <td>
                                                                    <form class="d-inline" action="{{ url('remove_mariadb', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                                        <button type="button" rel="tooltip" title="Remove this link" class="btn btn-danger btn-link btn-sm" onclick="this.submit()">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else: %}
                                                <form class="form-inline" action="{{ url('create_mariadb', app_name=app) }}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary">Create MariaDB link</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane" id="redis">
                                            {% if app_links.redis %}
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Version</th>
                                                            <th scope="col">Exposed ports</th>
                                                            <th scope="col">Links</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for item in app_links.redis %}
                                                            <tr>
                                                                <td>{{ item['NAME'] }}</td>
                                                                <td>{{ item['STATUS'] }}</td>
                                                                <td>{{ item['VERSION'] }}</td>
                                                                <td>{{ item['EXPOSED PORTS'] }}</td>
                                                                <td>{{ item['LINKS'] }}</td>
                                                                <td>
                                                                    <form class="d-inline" action="{{ url('remove_redis', app_name=app, link_name=item['LINKS']) }}" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ item['LINKS'] }}" name="link_name" />
                                                                        <button type="button" rel="tooltip" title="Remove this link" class="btn btn-danger btn-link btn-sm" onclick="this.submit()">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else: %}
                                                <form class="form-inline" action="{{ url('create_postgres', app_name=app) }}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-primary">Create Redis link</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        <div class="tab-pane" id="buildpacks">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">Buildpack</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if app_links.buildpacks %}
                                                        {% for item in app_links.buildpacks %}
                                                            <tr>
                                                                <td>
                                                                    {% if "https" or "http" in item %}
                                                                        <a href="{{ item }}" rel="nofollow noopener noreferrer" target="_blank">{{ item }}</a>
                                                                    {% else %}
                                                                        <span class="buildpack-name-item">{{ item }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <form class="d-inline" action="{{ url('remove_buildpack', app_name=app) }}" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" value="{{ item }}" name="buildpack_url" />
                                                                        <button type="button" rel="tooltip" title="Remove this buildpack" class="btn btn-danger btn-link btn-sm" onclick="this.submit()">
                                                                            <i class="material-icons">close</i>
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% else: %}
                                                        <tr>
                                                            <td colspan="2">No buildpacks in this app</td>
                                                        </tr>
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/footer/footer-content.html" %}
        </div>
    </div>
{% endblock %}