{% extends "base.html" %}
{% block body %}
<h1 id="app_page" >Wharf: {{ app }}</h1>
<a href="{{ url('index') }}">Return to apps index</a><br />

<h3>Actions</h3>
{% if git_url == None %}
Can't deploy due to missing GITHUB_URL in config (which should be set to the "Clone with HTTPS" url from Github)
{% else %}
<form class="form-inline" action="{{ url('deploy', app_name=app) }}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="url" value="{{ git_url }}" />
  <button type="submit" class="btn btn-primary" name="action" value="deploy" id="deploy_app">Deploy app</button>&nbsp;&nbsp;
  <button type="submit" class="btn btn-warning" name="action" value="rebuild" id="rebuild_app">Rebuild app</button>
</form>
{% endif %}
<h2>Task logs</h2>
{% if task_logs %}
<ul>
  {% for tl in task_logs %}
    <li><a href="{{ url('show_log', task_id=tl.task_id) }}">{{ tl.nice_when() }} - {{ tl.description }}</a></li>
  {% endfor %}
</ul>
{% else %}
No tasks run yet
{% endif %}
<h2>Domains</h2>
{% if domains.length == 0 %}None{% else %}
<ul>
  {% for d in domains %}
    <li>
      <a href="{{ 'https' if letsencrypt else 'http' }}://{{ d }}">{{ d }}</a>
      <form class="d-inline" action="{{ url('remove_domain', app_name=app) }}" method="POST">
      {% csrf_token %}
        <input type="hidden" name="name" value="{{d}}" />
        <button type="submit" class="btn btn-primary">Delete '{{d}}' domain</button>
      </form>
    </li>
  {% endfor %}
</ul>
{% endif %}
<h3>New domain</h3>
<form action="{{ url('add_domain', app_name=app) }}" method="POST">
  {% csrf_token %}
  {{ domain_form | bootstrap }}
  <input class="form-control" type="submit" value="Submit" />
</form>
<h2>Config</h2>
<ul class=config>
  {% for (k,v) in config %}
    <li>{{ k }} = {{ v }}</li>
  {% endfor %}
</ul>
<h3>New item</h3>
<form action="{{ url('app_info', app_name=app) }}" method="POST">
  {% csrf_token %}
  {{ form | bootstrap }}
  <input class="form-control" type="submit" value="Submit" id="config_add" />
</form>
<h3>Postgres</h3>
{% if postgres %}
Status: {{ postgres['STATUS'] }}
{% else %}
<form class="form-inline" action="{{ url('create_postgres', app_name=app) }}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Create postgres db</button>
</form>
{% endif %}
<h3>Redis</h3>
{% if redis %}
Status: {{ redis['STATUS'] }}
{% else %}
<form class="form-inline" action="{{ url('create_redis', app_name=app) }}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Create redis db</button>
</form>
{% endif %}
<h3>Let's Encrypt</h3>
{% if letsencrypt %}
<ul>
  {% for (k,v) in letsencrypt.items() if k != 'App name' %}
  <li>{{k}}: {{v}}</li>
  {% endfor %}
</ul>
{% else %}
<form class="form-inline" action="{{ url('setup_letsencrypt', app_name=app) }}" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">Setup Let's Encrypt</button>
</form>
{% endif %}
<h3>Process Info</h3>
<ul>
  {% for (k,v) in process.items() if k != 'processes' %}
  <li>{{k}}: {{v}}</li>
  {% endfor %}
</ul>
<h3>Processes</h3>
<ul>
  {% for (k,v) in process.get('processes',{}).items() %}
  <li>{{k}}: {{v}}</li>
  {% endfor %}
</ul>
<h3>Logs</h3>
<pre>
{{ logs }}
</pre>
{% endblock %}