{% extends "base.html" %}
{% block body %}
    <div class="wrapper">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Create a new application</h4>
                                </div>
                                <div class="card-body">
                                    <form class="form" action="{{ url('index') }}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="kind" value="app" />
                                        {{ app_form }}
                                        <button type="submit" class="btn btn-primary pull-right" id="create_app">Create app</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}