{% extends "base.html" %}
{% block body %}
<h1>Wharf: {% if running %}running task{% else %}task log{% endif %} {% if app != "_" %} for <a href="{{ url('app_info', app_name=app) }}">{{ app }}</a>{% endif %}</h1>
<h2>{{ description }}</h2>
Task id: {{ task_id }}<br />
Task state: {{ state }}<br />
<pre>
{{ log }}
</pre>
{% if running %}
<script type="text/javascript">
    setTimeout(function(){
      location.reload()
    },2000)
  </script>
{% endif %}
{% if app == "_" %}
<a href="{{ url('index') }}">Return to apps index</a>
{% else %}
<a href="{{ url('app_info', app_name=app) }}">Return to {{app}} info</a>
{% endif %}
{% endblock %}