{% extends "base.html" %}
{% block body %}
    <div class="wrapper ">
        {% include "components/sidebar/sidebar.html" %}
        <div class="main-panel">
            <!-- Navbar -->
            {% include "components/navbar/navbar.html" %}
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title ">Settings</h4>
                                </div>
                                <div class="card-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "components/footer/footer-content.html" %}
        </div>
    </div>
{% endblock %}
