{% block initial_key %}
    <link href="{{ static('components/setup/initial-key/initial-key.css') }}" rel="stylesheet">
    <body class="bg-light text-center">
    <div class="container">
        <h1 id="initial-setup-header">Wharf: Initial setup</h1>
        <p>
            Save the following key (as one line) to a file on your server, and run the
            <a href="http://dokku.viewdocs.io/dokku/deployment/user-management/#adding-ssh-keys"
               rel="nofollow noopener noreferrer" target="_blank">
                <code>ssh-keys:add</code> command
            </a>, to setup the SSH key access:
        </p>
        <div id="ssh-key" class="ssh-key-output">
            {{ key }}
        </div>
        <br /><br />
        When you've done this, <a href="" onclick="location.reload();">click here to reload</a>
    </div>
    </body>
{% endblock %}