{% block apps %}
    <link href="{{ static('components/apps/apps.css') }}" rel="stylesheet">
    <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <a class="navbar-brand" href="#">Wharf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-bar-apps-list" aria-controls="main-nav-bar-apps-list" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav-bar-apps-list">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <form class="form" action="{{ url('refresh_all') }}" method="POST" id="refresh_dokku_info_form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" id="refresh_info">Refresh Dokku information</button>
        </form>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h2 class="h2">Wharf</h2>
                </div>
                <h3>Apps list</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for app in apps %}
                            <tr>
                                <td><a href="{{ url('app_info', app_name=app) }}" title="{{ app }}" rel="nofollow noopener noreferrer">{{ app }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>No apps to list</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br><br>

                <h3>Create a new app</h3>
                    <div class="card">
                        <div class="card-header">
                            Create new app for Dokku
                        </div>
                        <div class="card-body">
                            <form class="form" action="{{ url('index') }}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="kind" value="app" />
                                {{ app_form | bootstrap }}
                                <button type="submit" class="btn btn-lg btn-block btn-outline-primary" id="create_app">Create app</button>
                            </form>
                        </div>
                    </div>
                    <br/><br/>
                    <h3>Global configuration</h3>
                    <ul id="tabs" class="nav nav-tabs">
                        <li class="nav-item"><a href="" data-target="#global-config-list" data-toggle="tab" class="nav-link small text-uppercase active show">Global configuration item list</a></li>
                        <li class="nav-item"><a href="" data-target="#global-config-add" data-toggle="tab" class="nav-link small text-uppercase">Add new item</a></li>
                    </ul>
                    <br>
                    <div id="tabsContent" class="tab-content">
                        <div id="global-config-list" class="tab-pane fade active show">
                            <div class="list-group">
                                {% for (k,v) in config %}
                                    <span class="text-muted list-group-item d-inline-block"><span>{{ k }}</span> = {{ v }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="global-config-add" class="tab-pane fade">
                            <div class="list-group">
                                <h4>Add a new item to global configuration</h4>
                                <form action="{{ url('global_config_set') }}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="kind" value="config" />
                                    {{ config_form | bootstrap }}
                                    <input class="btn btn-lg btn-block btn-outline-primary" type="submit" value="Submit" />
                                </form>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
    </body>
{% endblock %}