<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://github.com/palfrey/wharf" target="_blank">
                        Wharf Project
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/product/material-dashboard" target="_blank">
                        Created with Material Dashboard By Creative Tim
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            <script>
                document.write(new Date().getFullYear().toString())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://github.com/palfrey" target="_blank">Tom Parker-Shemilt</a>
        </div>
    </div>
</footer>