.btn-rebuild-app {
    margin-left: 30px;
}

.logs-output {
    white-space: pre-line;
    font-family: Menlo,Monaco,SFMono-Regular,Consolas,Liberation Mono,Courier,monospace !important;
    overflow: scroll;
    height: 250px;
    border: 2px solid #ccc;
    background-color: #f6f6f6;
    border-radius: 5px;
    padding: 10px;
    font-size: 90%;
}

.tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
    border-top: none;
    background: #fff;
}

.tab-content table {
    margin-bottom: 0;
}

.card-body.card-with-scroll {
    min-height: 200px;
    overflow: auto;
    max-height: 300px;
}